web/WEB-INF/wsdl/SID0003005.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions targetNamespace="http://consultasgeneralesrunt.runt.heinsohn.com/" name="ServicioConsultaRUNT" xmlns:tns="http://consultasgeneralesrunt.runt.heinsohn.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns0="http://consultasgeneralesrunt.runt.heinsohn.com/types/" xmlns="http://schemas.xmlsoap.org/wsdl/">


<types>


<schema xmlns="http://www.w3.org/2001/XMLSchema">

<import schemaLocation="Identificadores.xsd" namespace="http://identificaciones.general.runt.heinsohn.com"/>

</schema>


<schema xmlns="http://www.w3.org/2001/XMLSchema">

<import schemaLocation="Consultas.xsd" namespace="http://consultas.general.runt.heinsohn.com"/>

</schema>


<schema targetNamespace="http://consultasgeneralesrunt.runt.heinsohn.com/types/" xmlns:tns="http://consultasgeneralesrunt.runt.heinsohn.com/types/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:persona="http://personas.general.runt.heinsohn.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:consulta="http://consultas.general.runt.heinsohn.com" xmlns:identificador="http://identificaciones.general.runt.heinsohn.com">

<import schemaLocation="Consultas.xsd" namespace="http://consultas.general.runt.heinsohn.com"/>

<import schemaLocation="Identificadores.xsd" namespace="http://identificaciones.general.runt.heinsohn.com"/>


<element name="consultarDatosAseguradoraElement">


<complexType>


<sequence>

<element name="header" nillable="false" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="identificadorAseguradora" nillable="false" type="identificador:IdentificadorAseguradoraDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosAseguradoraResponseElement">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:AseguradoraOutDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarCertificadoCapacitacionNormasTransito">


<complexType>


<sequence>

<element name="header" nillable="false" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="certificadoCapacitacionNormasTransitoInDTO" nillable="false" type="consulta:CertificadoCapacitacionNormasTransitoInDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarCertificadoCapacitacionNormasTransitoResponse">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:CertificadoCapacitacionNormasTransitoOutDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosAutomotorElement">


<complexType>


<sequence>

<element name="header" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="identificacionAutomotor" nillable="true" type="identificador:IdentificacionAutomotorDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosAutomotorResponseElement">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:AutomotorOutDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosConductorElement">


<complexType>


<sequence>

<element name="header" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="consultarDatosConductorInDTO" nillable="true" type="consulta:ConsultarDatosConductorInDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosConductorResponseElement">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:ConductorOutDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosPersonaJuridicaElement">


<complexType>


<sequence>

<element name="header" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="identificacionPersonaDTO" nillable="true" type="identificador:IdentificacionPersonaDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosPersonaJuridicaResponseElement">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:PersonaJuridicaOutDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosPersonaNaturalElement">


<complexType>


<sequence>

<element name="header" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="identificacionPersona" nillable="true" type="identificador:IdentificacionPersonaDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosPersonaNaturalResponseElement">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:PersonaNaturalOutDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosPolizaElement">


<complexType>


<sequence>

<element name="header" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="consultarDatosPoliza" nillable="true" type="consulta:ConsultarDatosPolizaInDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosPolizaResponseElement">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:PolizaSeguroOutDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarLicenciaTransitoElement">


<complexType>


<sequence>

<element name="header" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="identificacionAutomotor" nillable="true" type="identificador:IdentificacionAutomotorDTO"/>

<element name="numeroLicenciaTransito" nillable="true" type="xsd:string"/>

</sequence>

</complexType>

</element>


<element name="consultarLicenciaTransitoResponseElement">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:LicenciaTransitoOutDTO"/>

</sequence>

</complexType>

</element>


<element name="verificarEstadoWS">


<complexType>


<sequence>

<element name="header" minOccurs="0" type="identificador:CommonHeaderDTO"/>

</sequence>

</complexType>

</element>


<element name="verificarEstadoWSResponse">


<complexType>


<sequence>

<element name="status" nillable="true" minOccurs="0" type="identificador:StatusDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarAutomotoresPorSerieMotorChasisVIN">


<complexType>


<sequence>

<element name="header" nillable="true" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="identificacionAutomotor" nillable="true" type="identificador:IdentificacionAutomotorDTO"/>

</sequence>

</complexType>

</element>


<xsd:element name="consultarAutomotoresPorSerieMotorChasisVINResponse">


<xsd:complexType>


<xsd:sequence>

<xsd:element name="result" nillable="true" type="consulta:DetalleAutomotorOutDTO"/>

</xsd:sequence>

</xsd:complexType>

</xsd:element>


<element name="consultarDatosRTM">


<complexType>


<sequence>

<element name="header" nillable="true" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="numeroPlaca" nillable="true" type="string"/>

</sequence>

</complexType>

</element>


<xsd:element name="consultarDatosRTMResponse">


<xsd:complexType>


<xsd:sequence>

<xsd:element name="result" nillable="true" type="consulta:ConsultarDatosRTMOutDTO"/>

</xsd:sequence>

</xsd:complexType>

</xsd:element>


<element name="consultarDatosCertificadoRegistroRemolques">


<complexType>


<sequence>

<element name="header" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="informacionConsultaCertificadoInDTO" nillable="true" type="consulta:InformacionConsultaCertificadoInDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarDatosCertificadoRegistroRemolquesResponse">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:InformacionCertificadoRegistroOutDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarCursosCapacitacionNormasTransito">


<complexType>


<sequence>

<element name="header" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="in" nillable="true" type="consulta:CursoCapacitacionNormasInDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarCursosCapacitacionNormasTransitoResponse">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:CursoCapacitacionNormasOutDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarRegistroGarantiasPreRegistradas">


<complexType>


<sequence>

<element name="header" nillable="false" minOccurs="0" type="identificador:CommonHeaderDTO"/>

<element name="in" nillable="true" type="consulta:ConsultaRegistroGarantiasPreRegistradasInDTO"/>

</sequence>

</complexType>

</element>


<element name="consultarRegistroGarantiasPreRegistradasResponse">


<complexType>


<sequence>

<element name="result" nillable="true" type="consulta:ConsultaRegistroGarantiasPreRegistradasOutDTO"/>

</sequence>

</complexType>

</element>

</schema>

</types>


<message name="ServicioConsultaRUNT_consultarDatosAseguradora">

<part name="parameters" element="tns0:consultarDatosAseguradoraElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosAseguradoraResponse">

<part name="parameters" element="tns0:consultarDatosAseguradoraResponseElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarCertificadoCapacitacionNormasTransito">

<part name="parameters" element="tns0:consultarCertificadoCapacitacionNormasTransito"/>

</message>


<message name="ServicioConsultaRUNT_consultarCertificadoCapacitacionNormasTransitoResponse">

<part name="parameters" element="tns0:consultarCertificadoCapacitacionNormasTransitoResponse"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosAutomotor">

<part name="parameters" element="tns0:consultarDatosAutomotorElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosAutomotorResponse">

<part name="parameters" element="tns0:consultarDatosAutomotorResponseElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosConductor">

<part name="parameters" element="tns0:consultarDatosConductorElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosConductorResponse">

<part name="parameters" element="tns0:consultarDatosConductorResponseElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosPersonaJuridica">

<part name="parameters" element="tns0:consultarDatosPersonaJuridicaElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosPersonaJuridicaResponse">

<part name="parameters" element="tns0:consultarDatosPersonaJuridicaResponseElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosPersonaNatural">

<part name="parameters" element="tns0:consultarDatosPersonaNaturalElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosPersonaNaturalResponse">

<part name="parameters" element="tns0:consultarDatosPersonaNaturalResponseElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosPoliza">

<part name="parameters" element="tns0:consultarDatosPolizaElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarDatosPolizaResponse">

<part name="parameters" element="tns0:consultarDatosPolizaResponseElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarLicenciaTransito">

<part name="parameters" element="tns0:consultarLicenciaTransitoElement"/>

</message>


<message name="ServicioConsultaRUNT_consultarLicenciaTransitoResponse">

<part name="parameters" element="tns0:consultarLicenciaTransitoResponseElement"/>

</message>


<message name="verificarEstadoWSRequest">

<part name="parameters" element="tns0:verificarEstadoWS"/>

</message>


<message name="verificarEstadoWSResponse">

<part name="parameters" element="tns0:verificarEstadoWSResponse"/>

</message>


<message name="consultarAutomotoresPorSerieMotorChasisVINRequest">

<part name="parameters" element="tns0:consultarAutomotoresPorSerieMotorChasisVIN"/>

</message>


<message name="consultarAutomotoresPorSerieMotorChasisVINResponse">

<part name="parameters" element="tns0:consultarAutomotoresPorSerieMotorChasisVINResponse"/>

</message>


<message name="consultarDatosRTMRequest">

<part name="parameters" element="tns0:consultarDatosRTM"/>

</message>


<message name="consultarDatosRTMResponse">

<part name="parameters" element="tns0:consultarDatosRTMResponse"/>

</message>


<message name="consultarDatosCertificadoRegistroRemolquesRequest">

<part name="parameters" element="tns0:consultarDatosCertificadoRegistroRemolques"/>

</message>


<message name="consultarDatosCertificadoRegistroRemolquesResponse">

<part name="parameters" element="tns0:consultarDatosCertificadoRegistroRemolquesResponse"/>

</message>


<message name="consultarCursosCapacitacionNormasTransitoRequest">

<part name="parameters" element="tns0:consultarCursosCapacitacionNormasTransito"/>

</message>


<message name="consultarCursosCapacitacionNormasTransitoResponse">

<part name="parameters" element="tns0:consultarCursosCapacitacionNormasTransitoResponse"/>

</message>


<message name="consultarRegistroGarantiasPreRegistradasRequest">

<part name="parameters" element="tns0:consultarRegistroGarantiasPreRegistradas"/>

</message>


<message name="consultarRegistroGarantiasPreRegistradasResponse">

<part name="parameters" element="tns0:consultarRegistroGarantiasPreRegistradasResponse"/>

</message>


<portType name="ServicioConsultaRUNT">


<operation name="consultarDatosAseguradora">

<input message="tns:ServicioConsultaRUNT_consultarDatosAseguradora"/>

<output message="tns:ServicioConsultaRUNT_consultarDatosAseguradoraResponse"/>

</operation>


<operation name="consultarCertificadoCapacitacionNormasTransito">

<input message="tns:ServicioConsultaRUNT_consultarCertificadoCapacitacionNormasTransito"/>

<output message="tns:ServicioConsultaRUNT_consultarCertificadoCapacitacionNormasTransitoResponse"/>

</operation>


<operation name="consultarDatosAutomotor">

<input message="tns:ServicioConsultaRUNT_consultarDatosAutomotor"/>

<output message="tns:ServicioConsultaRUNT_consultarDatosAutomotorResponse"/>

</operation>


<operation name="consultarDatosConductor">

<input message="tns:ServicioConsultaRUNT_consultarDatosConductor"/>

<output message="tns:ServicioConsultaRUNT_consultarDatosConductorResponse"/>

</operation>


<operation name="consultarDatosPersonaJuridica">

<input message="tns:ServicioConsultaRUNT_consultarDatosPersonaJuridica"/>

<output message="tns:ServicioConsultaRUNT_consultarDatosPersonaJuridicaResponse"/>

</operation>


<operation name="consultarDatosPersonaNatural">

<input message="tns:ServicioConsultaRUNT_consultarDatosPersonaNatural"/>

<output message="tns:ServicioConsultaRUNT_consultarDatosPersonaNaturalResponse"/>

</operation>


<operation name="consultarDatosPoliza">

<input message="tns:ServicioConsultaRUNT_consultarDatosPoliza"/>

<output message="tns:ServicioConsultaRUNT_consultarDatosPolizaResponse"/>

</operation>


<operation name="consultarLicenciaTransito">

<input message="tns:ServicioConsultaRUNT_consultarLicenciaTransito"/>

<output message="tns:ServicioConsultaRUNT_consultarLicenciaTransitoResponse"/>

</operation>


<operation name="verificarEstadoWS">

<input message="tns:verificarEstadoWSRequest"/>

<output message="tns:verificarEstadoWSResponse"/>

</operation>


<operation name="consultarAutomotoresPorSerieMotorChasisVIN">

<input message="tns:consultarAutomotoresPorSerieMotorChasisVINRequest"/>

<output message="tns:consultarAutomotoresPorSerieMotorChasisVINResponse"/>

</operation>


<operation name="consultarDatosRTM">

<input message="tns:consultarDatosRTMRequest"/>

<output message="tns:consultarDatosRTMResponse"/>

</operation>


<operation name="consultarDatosCertificadoRegistroRemolques">

<input message="tns:consultarDatosCertificadoRegistroRemolquesRequest"/>

<output message="tns:consultarDatosCertificadoRegistroRemolquesResponse"/>

</operation>


<operation name="consultarCursosCapacitacionNormasTransito">

<input message="tns:consultarCursosCapacitacionNormasTransitoRequest"/>

<output message="tns:consultarCursosCapacitacionNormasTransitoResponse"/>

</operation>


<operation name="consultarRegistroGarantiasPreRegistradas">

<input message="tns:consultarRegistroGarantiasPreRegistradasRequest"/>

<output message="tns:consultarRegistroGarantiasPreRegistradasResponse"/>

</operation>

</portType>


<binding name="ServicioConsultaRUNTSoapHttp" type="tns:ServicioConsultaRUNT">

<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>


<operation name="consultarDatosAseguradora">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarDatosAseguradora"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarCertificadoCapacitacionNormasTransito">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarCertificadoCapacitacionNormasTransito"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarDatosAutomotor">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarDatosAutomotor"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarDatosConductor">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarDatosConductor"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarDatosPersonaJuridica">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarDatosPersonaJuridica"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarDatosPersonaNatural">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarDatosPersonaNatural"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarDatosPoliza">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarDatosPoliza"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarLicenciaTransito">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarLicenciaTransito"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="verificarEstadoWS">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//verificarEstadoWS"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarAutomotoresPorSerieMotorChasisVIN">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarAutomotoresPorSerieMotorChasisVIN"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarDatosRTM">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarDatosRTM"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarDatosCertificadoRegistroRemolques">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarDatosCertificadoRegistroRemolques"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarCursosCapacitacionNormasTransito">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarCursosCapacitacionNormasTransito"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>


<operation name="consultarRegistroGarantiasPreRegistradas">

<soap:operation soapAction="http://consultasgeneralesrunt.runt.heinsohn.com//consultarRegistroGarantiasPreRegistradas"/>


<input>

<soap:body use="literal"/>

</input>


<output>

<soap:body use="literal"/>

</output>

</operation>

</binding>


<service name="ServicioConsultaRUNT">


<port name="ServicioConsultaRUNTSoapHttpPort" binding="tns:ServicioConsultaRUNTSoapHttp">

<soap:address location="http://wsm.runt.com.co:80/gateway/services/SID0003005"/>

</port>

</service>

</definitions>