webServicesRNMA/Solicitudes.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://solicitudes.general.runt.heinsohn.com" xmlns:identificador="http://identificaciones.general.runt.heinsohn.com" xmlns:persona="http://personas.general.runt.heinsohn.com" xmlns:tramite="http://tramite.general.runt.heinsohn.com" targetNamespace="http://solicitudes.general.runt.heinsohn.com" elementFormDefault="qualified" xmlns:pref="http://rna.tramite.general.runt.heinsohn.com" xmlns:Q1="http://consultas.general.runt.heinsohn.com">
    <xsd:import schemaLocation="Consultas.xsd" namespace="http://consultas.general.runt.heinsohn.com"/>
    <xsd:import namespace="http://identificaciones.general.runt.heinsohn.com" schemaLocation="Identificadores.xsd"/>
    <xsd:import namespace="http://personas.general.runt.heinsohn.com" schemaLocation="Personas.xsd"/>
    <xsd:import namespace="http://tramite.general.runt.heinsohn.com" schemaLocation="Tramite.xsd"/>
    <xsd:import namespace="http://rna.tramite.general.runt.heinsohn.com" schemaLocation="TramitesRNA.xsd"/>
    <xsd:import namespace="http://rnc.tramite.general.runt.heinsohn.com" schemaLocation="TramitesRNC.xsd"/>
    <xsd:import namespace="http://rnrys.tramite.general.runt.heinsohn.com" schemaLocation="TramitesRNRYS.xsd"/>
    <xsd:import namespace="http://rnma.tramite.general.runt.heinsohn.com" schemaLocation="TramitesRNMA.xsd"/>
    <xsd:complexType name="RechazoOTDTO">
        <xsd:sequence>
            <xsd:element name="descripcionRechazo" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ValidacionTramiteDTO">
        <xsd:sequence>
            <xsd:element name="codRechazo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>12</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="descripcion" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoValidacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>13</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaValidacion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="idValidacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>13</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idResultado" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>90</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTramite" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>5</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistroSolicitudDTO">
        <xsd:sequence>
            <xsd:element name="nombreTipoSolicitud" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>11</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="solicitante" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="autorizacionLimitacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="estadoSolicitud" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>73</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaVigenciaSoliSer" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="datosApoderado" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="idSolicitud" type="xsd:string" nillable="true"/>
            <xsd:element name="registroSolicitud" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>74</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaEjecucion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="tramites" type="tramite:TramiteBasicoDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="autoridadTransito" type="persona:AutoridadTransitoDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="descripcionAutorizacion" type="xsd:string" nillable="true"/>
            <xsd:element name="liquidaciones" type="LiquidacionInDTO" nillable="true"/>
            <xsd:element name="fechaVigenciaSolicitud" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaRegistroSolicitud" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="rechazosOT" type="RechazoOTDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="validacionesTramite" type="ValidacionTramiteDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="numeroLiquidacionOT" type="xsd:string" nillable="true"/>
            <xsd:element name="especiesVenalesGeneradas" type="EspecieVenalDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="documentosGenerados" type="DocumentoDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RadicarSolicitudOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="solicitante" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="numeroLiquidacionOT" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaRadicacion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="idSolicitud" type="xsd:string" nillable="true"/>
            <xsd:element name="resultado" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsultaResultadoSolicitudInDTO">
        <xsd:sequence>
            <xsd:element name="idSolicitud" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionEntregaResultadoInDTO">
        <xsd:sequence>
            <xsd:element name="idSolicitud" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoEntrega" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>14</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaEntrega" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="autoridad" type="persona:AutoridadTransitoDTO" nillable="true" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionEntregaResultadoOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="resultado" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsultaLiquidacionINDTO">
        <xsd:sequence>
            <xsd:element name="numeroLiquidacion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistroPagoDTO">
        <xsd:sequence>
            <xsd:element name="valorPagado" type="xsd:double" nillable="true"/>
            <xsd:element name="fechaReportePago" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="numeroLiquidacion" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaRegistroPago" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="informacionRegistroPrestadorServicio" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="fechaPago" type="xsd:dateTime" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ValorMTDTO">
        <xsd:sequence>
            <xsd:element name="tipoEV" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>6</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valor" type="xsd:double" nillable="true"/>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ValorRUNTDTO">
        <xsd:sequence>
            <xsd:element name="codigoTipoTramite" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>5</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTarifaAplicada" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>83</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valor" type="xsd:double" nillable="true"/>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CausalRechazoLiquidacionDTO">
        <xsd:sequence>
            <xsd:element name="causalRechazo" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarLiquidacionInDTO">
        <xsd:sequence>
            <xsd:element name="numeroLiquidacionOT" type="xsd:string" nillable="true"/>
            <xsd:element name="valorOT" type="xsd:double" nillable="true"/>
            <xsd:element name="idSolictante" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="tramites" type="TramiteLiquidacionDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="autoridadTransito" nillable="true" type="persona:AutoridadTransitoDTO" minOccurs="0"/>
            <xsd:element name="fechaRegistro" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="clasificacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>8</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoLiquidacion" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>2</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="generaReciboPDF" type="xsd:boolean" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xsd:element name="multiliquidacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
            <xsd:element name="personaUtilizaLiquidacion" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="placaUtilizaLiquidacion" type="xsd:string" nillable="true"/>
            <xsd:element name="idRadio" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>71</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTipoServicio" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>138</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LiquidacionOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="numeroLiquidacion" type="xsd:string" nillable="true"/>
            <xsd:element name="autoridadTransito" nillable="true" type="persona:AutoridadTransitoDTO" minOccurs="0"/>
            <xsd:element name="fechaSolicitud" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaRegistro" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaVigencia" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="numeroLiquidacionOT" type="xsd:string" nillable="true"/>
            <xsd:element name="codigoBarrasOT" type="xsd:string" nillable="true"/>
            <xsd:element name="codigoBarrasMTRUNT" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoLiquidacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoComprobantePago" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valorOT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorRUNT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorMT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorTotal" type="xsd:double" nillable="true"/>
            <xsd:element name="estadoLiquidacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="liquidacionPDF" type="xsd:base64Binary" nillable="true"/>
            <xsd:element name="detalleValorRUNT" type="ValorRUNTDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="detalleValorMT" type="ValorMTDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="multiliquidacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
            <xsd:element name="personaUtilizaLiquidacion" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="placaUtilizaLiquidacion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistroPagoOutDTO">
        <xsd:sequence>
            <xsd:element name="resultado" type="xsd:string" nillable="true"/>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TramiteLiquidacionDTO">
        <xsd:sequence>
            <xsd:element name="codigoTipoTramite" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>5</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTarifaAplicada" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>83</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsultaResultadoSolicitudOUTDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="solicitud" type="RegistroSolicitudDTO" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LiquidacionInDTO">
        <xsd:sequence>
            <xsd:element name="numeroLiquidacion" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RadicarSolicitudInDTO">
        <xsd:sequence>
            <xsd:element name="nombreTipoSolicitud" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>11</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="solicitante" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="autorizacionLimitacion" type="xsd:string" nillable="true"/>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="datosApoderado" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="datosPropietarios" type="persona:PropietarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="informacionBiometricaSolicitud" type="identificador:InformacionBiometricaCiudadanoDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="registroSolicitud" type="xsd:string" nillable="true"/>
            <xsd:element name="tramites" type="tramite:TramiteBasicoDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="autoridadTransito" type="persona:AutoridadTransitoDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="descripcionAutorizacion" type="xsd:string" nillable="true"/>
            <xsd:element name="liquidaciones" type="LiquidacionInDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="liquidacionesMedidasCautelares" type="LiquidacionInDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="rechazosOT" type="RechazoOTDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="numeroLiquidacionOT" type="xsd:string" nillable="true"/>
            <xsd:element name="tutelaOActoAdministrativo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validacionRequisitos" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="confirmValidaHuellaFuncionario" type="xsd:boolean" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EspecieVenalDTO">
        <xsd:sequence>
            <xsd:element name="codigoTipoEspecieVenal" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>6</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroEspecieVenal" type="xsd:string" nillable="true"/>
            <xsd:element name="idRangoEspecieVenal" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentoDTO">
        <xsd:sequence>
            <xsd:element name="codigoTipoDocumento" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>7</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="estadoImpresion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>68</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaImpresion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InscribirPersonaNaturalInDTO">
        <xsd:sequence>
            <xsd:element name="identificacion" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="primerNombrePersona" type="xsd:string" nillable="true"/>
            <xsd:element name="segundoNombrePersona" type="xsd:string" nillable="true"/>
            <xsd:element name="primerApellidoPersona" type="xsd:string" nillable="true"/>
            <xsd:element name="segundoApellidoPersona" type="xsd:string" nillable="true"/>
            <xsd:element name="sexoPersona" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>75</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="emailPersona" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicionDocumento" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaNacimientoPersona" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="lugarNacimientoPersona" type="identificador:IdentificadorGeografiaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="grupoSanguineoPersona" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>64</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="celularPersona" type="xsd:string" nillable="true"/>
            <xsd:element name="direcciones" type="persona:DireccionDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="tramaEnrolamiento" type="xsd:string" nillable="true"/>
            <xsd:element name="ciudadNacimientoExtranjera" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>98</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ipUsuario" type="identificador:ContextoClienteWSDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="liquidacionInscripcion" type="LiquidacionInDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InscribirPersonaJuridicaInDTO">
        <xsd:sequence>
            <xsd:element name="identificacion" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="digitoVerificacion" type="xsd:string" nillable="true"/>
            <xsd:element name="razonSocial" type="xsd:string" nillable="true"/>
            <xsd:element name="direccion" type="persona:DireccionDTO" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="email" type="xsd:string" nillable="true"/>
            <xsd:element name="celular" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoSociedad" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>16</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoEntidad" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>42</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prestadorServicios" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroCertificadoExistenciaRepresentacion" type="xsd:string" nillable="true"/>
            <xsd:element name="sigla" type="xsd:string" nillable="true"/>
            <xsd:element name="capitalPagado" type="xsd:double" nillable="true"/>
            <xsd:element name="patrimonioLiquido" type="xsd:double" nillable="true"/>
            <xsd:element name="representanteLegal" type="persona:RepresentanteLegalDTO" nillable="true" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="sucursales" type="persona:SucursalDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="nroRegistroMercantil" type="xsd:long" nillable="true"/>
            <xsd:element name="fechaVencRegistroMercantil" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="liquidacionInscripcion" type="LiquidacionInDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InscribirPersonaOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MotivoRechazoHuellaDTO">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>70</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ImagenHuellaDedoDTO">
        <xsd:sequence>
            <xsd:element name="tipoDedo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>69</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fotoHuella" type="xsd:hexBinary" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarLiquidacionSIRENAInDTO">
        <xsd:sequence>
            <xsd:element name="numeroLiquidacion" type="xsd:string" nillable="true"/>
            <xsd:element name="valorMT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorTotal" type="xsd:double" nillable="true"/>
            <xsd:element name="autoridadTransito" nillable="true" type="persona:AutoridadTransitoDTO" minOccurs="0"/>
            <xsd:element name="fechaVencimiento" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="tramites" type="TramiteLiquidacionDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CertificadoTradicionDTO">
        <xsd:sequence>
            <xsd:element name="fechaHoraExpedicion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="observaciones" type="xsd:string" nillable="true"/>
            <xsd:element name="reporteCertificadoTradicion" type="xsd:hexBinary" nillable="true"/>
            <xsd:element name="informacionAutomotor" type="Q1:AutomotorCertificadoTradicionDTO" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsultaResultadoTramiteCertificadoTradicionOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO"/>
            <xsd:element name="certificadoTradicion" type="CertificadoTradicionDTO" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GenerarCertificadoConductorInDTO">
        <xsd:sequence>
            <xsd:element name="autoridad" type="persona:AutoridadTransitoDTO"/>
            <xsd:element name="solicitante" type="identificador:IdentificacionPersonaDTO"/>
            <xsd:element name="liquidaciones" type="LiquidacionInDTO" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GenerarCertificadoConductorOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO"/>
            <xsd:element name="certificadoConductorPDF" type="xsd:base64Binary" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsultaCUPLInDTO">
        <xsd:sequence>
            <xsd:element name="numeroLiquidacion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CUPLOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="numeroLiquidacion" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoComprobante" type="xsd:string" nillable="true"/>
            <xsd:element name="estadoLiquidacion" type="xsd:string" nillable="true"/>
            <xsd:element name="pagos" type="Q1:PagoDTO" nillable="true" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="solicitudes" type="Q1:SolicitudDTO" nillable="true" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarLiquidacionFaltanteServicioInDTO">
        <xsd:sequence>
            <xsd:element name="numeroLiquidacion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarLiquidacionFaltanteServicioOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="reciboLiquidacion" type="xsd:hexBinary" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LiquidacionCUPLAjusteTarifaInDTO">
        <xsd:sequence>
            <xsd:element name="numeroLiquidacionOT" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroCUPLAjuste" type="xsd:string" nillable="true"/>
            <xsd:element name="personaSolicitante" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="generaReciboPDF" type="xsd:boolean" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LiquidacionCUPLAjusteTarifaOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="numeroCUPLNuevo" type="xsd:string" nillable="true"/>
            <xsd:element name="autoridadTransito" nillable="true" type="persona:AutoridadTransitoDTO" minOccurs="0"/>
            <xsd:element name="personaSolicitante" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="nombrePersonaSolicitante" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaSolicitud" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaRegistro" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaVigencia" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="diasVigencia" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroLiquidacionOT" type="xsd:string" nillable="true"/>
            <xsd:element name="codigoBarrasOT" type="xsd:string" nillable="true"/>
            <xsd:element name="codigoBarrasMTRUNT" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoComprobantePago" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>3</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valorOT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorRUNT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorMT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorTotal" type="xsd:double" nillable="true"/>
            <xsd:element name="estadoLiquidacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>4</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="liquidacionPDF" type="xsd:base64Binary" nillable="true"/>
            <xsd:element name="detalleValorRUNT" type="ValorRUNTDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="detalleValorMT" type="ValorMTDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="multiliquidacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
            <xsd:element name="personaUtilizaLiquidacion" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="placaUtilizaLiquidacion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AprobarRevisionDocumentalInDTO">
        <xsd:sequence>
            <xsd:element name="idSolicitud" type="xsd:string" nillable="true"/>
            <xsd:element name="resultadoRevision" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>SI,NO</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="causalRechazoRevision" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AprobarRevisionDocumentalOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarLiquidacionProcesoTransversalInDTO">
        <xsd:sequence>
            <xsd:element name="autoridadTransito" type="persona:AutoridadTransitoDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="solicitante" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="tipoConcepto" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>142</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DetalleProcesoTRansversal">
        <xsd:sequence>
            <xsd:element name="tipoConcepto" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>142</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valorUnitario" type="xsd:double" nillable="true"/>
            <xsd:element name="valorTotal" type="xsd:double" nillable="true"/>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LiquidacionProcesoTransversalOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="numeroLiquidacion" type="xsd:string" nillable="true"/>
            <xsd:element name="autoridadTransito" nillable="true" type="persona:AutoridadTransitoDTO" minOccurs="0"/>
            <xsd:element name="fechaSolicitud" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaRegistro" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaVigencia" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="codigoBarras" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoComprobantePago" type="xsd:string" nillable="true"/>
            <xsd:element name="valorRUNT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorMT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorTotal" type="xsd:double" nillable="true"/>
            <xsd:element name="estadoLiquidacion" type="xsd:string" nillable="true"/>
            <xsd:element name="liquidacionPDF" type="xsd:base64Binary" nillable="true"/>
            <xsd:element name="detalleValorRUNT" type="DetalleProcesoTRansversal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="detalleValorMT" type="DetalleProcesoTRansversal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
            <xsd:element name="solicitante" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarAutorizacionSinHuellaOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarAutorizacionSinHuellaInDTO">
        <xsd:sequence>
            <xsd:element name="identificacion" type="identificador:IdentificacionPersonaDTO" nillable="true" minOccurs="0"/>
            <xsd:element name="motivoNoHuella" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>70</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="registroNacional" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>74</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoTramite" type="xsd:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="entidadCertifica" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
