web/WEB-INF/wsdl/10.10.1.9/gateway/services/SID0003009/P923779962/OwsmImport.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema targetNamespace="http://registroinformacion.general.runt.heinsohn.com" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://registroinformacion.general.runt.heinsohn.com" xmlns:persona="http://personas.general.runt.heinsohn.com" xmlns:identificador="http://identificaciones.general.runt.heinsohn.com" xmlns:consultas="http://consultas.general.runt.heinsohn.com">
    <xsd:import schemaLocation="SID0003009/N68354002/OwsmImport.xsd" namespace="http://consultas.general.runt.heinsohn.com"/>
    <xsd:import schemaLocation="SID0003009/N2128363059/OwsmImport.xsd" namespace="http://personas.general.runt.heinsohn.com"/>
    <xsd:import namespace="http://identificaciones.general.runt.heinsohn.com" schemaLocation="SID0003009/P724965611/OwsmImport.xsd"/>
    <xsd:complexType name="RegistrarCertificadoBlindajeDesblindajeInDTO">
        <xsd:sequence>
            <xsd:element name="entidad" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="numeroResolucion" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicionResolucion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="tipoAutorizacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>39</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="propietario" type="persona:PropietarioCertificadoBlindajeDTO" nillable="true"/>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nivelBlindaje" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>31</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarDesintegracionFisicaInDTO">
        <xsd:sequence>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="idClaseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="propietario" type="persona:PersonaDTO" nillable="true"/>
            <xsd:element name="numeroCertificado" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaCertificado" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="ciudadDesintegracion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>30</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capacidadCarga" type="xsd:double" nillable="true"/>
            <xsd:element name="capacidadPasajeros" type="xsd:double" nillable="true"/>
            <xsd:element name="licenciaTransito" type="xsd:string" nillable="true"/>
            <xsd:element name="idMarca" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>25</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modelo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>65</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLinea" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cilindraje" type="xsd:string" nillable="true"/>
            <xsd:element name="idTipoCarroceria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>40</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idColor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>1</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTipoCombustible" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>41</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroDeEjes" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroCertificadoSijin" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaCertificadoSijin" type="xsd:dateTime" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarActaRemateAdjudicacionInDTO">
        <xsd:sequence>
            <xsd:element name="datosAdjudicador" type="persona:PersonaDTO" nillable="true"/>
            <xsd:element name="numeroActa" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaAdjudicacion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaEntrega" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="nuevoPropietario" type="persona:PersonaDTO" nillable="true"/>
            <xsd:element name="numeroLote" type="xsd:string" nillable="true"/>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="idMarca" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>25</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLinea" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modelo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>65</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idColor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>1</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cilindraje" type="xsd:string" nillable="true"/>
            <xsd:element name="idUnidadMedidaCilindraje" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>66</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoCarroceria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>40</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoCombustible" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>41</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capacidadCarga" type="xsd:double" nillable="true"/>
            <xsd:element name="idUnidadMedidaCarga" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>86</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capacidadPasajeros" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroPuertas" type="xsd:int" nillable="true"/>
            <xsd:element name="valorAdjudicado" type="xsd:double" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarCertificadoConversionGNVInDTO">
        <xsd:sequence>
            <xsd:element name="entidadCertificadorConversionGNV" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="numeroCertificado" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="taller" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idMarca" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>25</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLinea" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idColor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>1</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroKit" type="xsd:string" nillable="true"/>
            <xsd:element name="modelo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>65</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoServicio" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>50</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroReporteInspeccion" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroChipInstalado" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroCalcomania" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SolicitarCambioDocumentoDatosPersonaInDTO">
        <xsd:sequence>
            <xsd:element name="idAutoridadTransito" type="xsd:string" nillable="true"/>
            <xsd:element name="solicitante" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="tokenHuellaDactilarSolicitante" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoCambio" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>CAMBIO DE DATOS,CAMBIO DE DOCUMENTO</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="primerNombrePersona" type="xsd:string" nillable="true"/>
            <xsd:element name="segundoNombrePersona" type="xsd:string" nillable="true"/>
            <xsd:element name="primerApellidoPersona" type="xsd:string" nillable="true"/>
            <xsd:element name="segundoApellidoPersona" type="xsd:string" nillable="true"/>
            <xsd:element name="firma" type="xsd:hexBinary" nillable="true"/>
            <xsd:element name="celular" type="xsd:string" nillable="true"/>
            <xsd:element name="eMail" type="xsd:string" nillable="true"/>
            <xsd:element name="direcciones" type="persona:DireccionDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="tipoIdentificacionNueva" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>7</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroIdentificacionNueva" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicionNuevoDocumento" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaNacimiento" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="sexo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>75</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="grupoSanguineo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>64</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarActaImportacionDetalleVehiculoInDTO">
        <xsd:sequence>
            <xsd:element name="informacionGeneralActaImportacion" type="InformacionGeneralActaImportacionDTO" nillable="true"/>
            <xsd:element name="informacionVehiculoActaImportacion" type="InformacionVehiculoActaImportacionDTO" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionGeneralActaImportacionDTO">
        <xsd:sequence>
            <xsd:element name="numeroActaManifiestoImportacionDeclaracionAduana" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaManifiestoImportacionDeclaracionAduana" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="importador" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="paisOrigen" type="xsd:string" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>33</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroLevante" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaLevante" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="tipoRegistro" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>95</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionVehiculoActaImportacionDTO">
        <xsd:sequence>
            <xsd:element name="tipoAutomotor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>V,C</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroFichaHomologacion" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroMotor" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroSerie" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroChasis" type="xsd:string" nillable="true"/>
            <xsd:element name="vin" type="xsd:string" nillable="true"/>
            <xsd:element name="idMarca" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>25</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLinea" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modelo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>65</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idClaseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroPuertas" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroPasajerosSentados" type="xsd:int" nillable="true"/>
            <xsd:element name="cilindraje" type="xsd:string" nillable="true"/>
            <xsd:element name="idTipoCarroceria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>40</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTipoCombustible" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>41</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroEjes" type="xsd:int" nillable="true"/>
            <xsd:element name="pesoBrutoVehicular" type="xsd:double" nillable="true"/>
            <xsd:element name="origenVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>23</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarMedidaCautelarInDTO">
        <xsd:sequence>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="tipoLimitacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>38</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoProcesoMedidaCautelar" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>35</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroDocumento" type="xsd:string" nillable="true"/>
            <xsd:element name="municipio" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
            <xsd:element name="identificadorEntidadJuridica" type="xsd:string" nillable="true"/>
            <xsd:element name="demandante" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="demandado" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="fechaExpedicion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="descripcion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LevantarMedidaCautelarInDTO">
        <xsd:sequence>
            <xsd:element name="numeroDocumentoMedidaCautelar" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoLimitacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>38</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaExpedicion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="identificadorEntidadJuridica" type="xsd:string" nillable="true"/>
            <xsd:element name="municipio" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
            <xsd:element name="tipoProcesoMedidaCautelar" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>35</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroDocumentoLevanteMedidaCautelar" type="xsd:string" nillable="true"/>
            <xsd:element name="descripcion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CargarInformacionBatchInDTO">
        <xsd:sequence>
            <xsd:element name="archivoComprimido" type="xsd:boolean" nillable="true"/>
            <xsd:element name="contenidoArchivo" type="xsd:hexBinary" nillable="true"/>
            <xsd:element name="nombreArchivo" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoArchivo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>94</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarSustratosEntregadosInDTO">
        <xsd:sequence>
            <xsd:element name="proveedorSustratos" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="organismoTransito" type="persona:AutoridadTransitoDTO" nillable="true"/>
            <xsd:element name="fechaDespacho" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="tipoEspecieVenal" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>97</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroSolicitud" type="xsd:long" nillable="true"/>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroInicialRango" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroFinalRango" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarRevisionTecnicoMecanicaInDTO">
        <xsd:sequence>
            <xsd:element name="personaCDA" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="numeroSolicitud" type="xsd:string" nillable="true"/>
            <xsd:element name="estadoRevision" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>78</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indicadorEnsenanza" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>SI,NO</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="emisionesB" type="xsd:int" nillable="true"/>
            <xsd:element name="frenosB" type="xsd:int" nillable="true"/>
            <xsd:element name="suspensionB" type="xsd:int" nillable="true"/>
            <xsd:element name="direccionB" type="xsd:int" nillable="true"/>
            <xsd:element name="lucesB" type="xsd:int" nillable="true"/>
            <xsd:element name="motorB" type="xsd:int" nillable="true"/>
            <xsd:element name="vidriosB" type="xsd:int" nillable="true"/>
            <xsd:element name="revisionInteriorB" type="xsd:int" nillable="true"/>
            <xsd:element name="revisionExteriorB" type="xsd:int" nillable="true"/>
            <xsd:element name="emisionesA" type="xsd:int" nillable="true"/>
            <xsd:element name="frenosA" type="xsd:int" nillable="true"/>
            <xsd:element name="suspensionA" type="xsd:int" nillable="true"/>
            <xsd:element name="direccionA" type="xsd:int" nillable="true"/>
            <xsd:element name="lucesA" type="xsd:int" nillable="true"/>
            <xsd:element name="motorA" type="xsd:int" nillable="true"/>
            <xsd:element name="vidriosA" type="xsd:int" nillable="true"/>
            <xsd:element name="revisionInteriorA" type="xsd:int" nillable="true"/>
            <xsd:element name="revisionExteriorA" type="xsd:int" nillable="true"/>
            <xsd:element name="fechaDeRevision" type="xsd:dateTime" nillable="true" minOccurs="0"/>
            <xsd:element name="fechaVencimeintoRevision" type="xsd:dateTime" nillable="true" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CargarInformacionBatchOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO"/>
            <xsd:element name="idSolicitud" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarRevisionTecnicoMecanicaOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="numeroCertificado" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicionCertificado" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaVencimientoCertificado" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionCertificadoRegistroInDTO">
        <xsd:sequence>
            <xsd:element name="numeroCertificadoRegistro" type="xsd:string" nillable="true"/>
            <xsd:element name="vehiculo" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="modelo" type="xsd:int" nillable="true"/>
            <xsd:element name="referencia" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idClaseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroEjes" type="xsd:int" nillable="true"/>
            <xsd:element name="pesoVacio" type="xsd:double" nillable="true"/>
            <xsd:element name="fichaTecnica" type="xsd:string" nillable="true"/>
            <xsd:element name="largo" type="xsd:double" nillable="true"/>
            <xsd:element name="alto" type="xsd:double" nillable="true"/>
            <xsd:element name="ancho" type="xsd:double" nillable="true"/>
            <xsd:element name="capacidad" type="xsd:int" nillable="true"/>
            <xsd:element name="actaImportacion" type="xsd:boolean" nillable="true"/>
            <xsd:element name="numeroAceptacion" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaAceptacion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="carrocero" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="numeroLevante" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaLevante" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="condicionMovilidad" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>99</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoCarroceria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>40</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroLlantas" type="xsd:int" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>