webServicesRNMA/nuevows/RegistroInformacion.xsd

<xsd:schema targetNamespace="http://registroinformacion.general.runt.heinsohn.com" elementFormDefault="qualified"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://registroinformacion.general.runt.heinsohn.com"
     xmlns:persona="http://personas.general.runt.heinsohn.com" xmlns:identificador="http://identificaciones.general.runt.heinsohn.com"
     xmlns:consultas="http://consultas.general.runt.heinsohn.com" xmlns:solicitudes="http://solicitudes.general.runt.heinsohn.com">
    <xsd:import schemaLocation="Consultas.xsd" namespace="http://consultas.general.runt.heinsohn.com"/>
    <xsd:import schemaLocation="Personas.xsd" namespace="http://personas.general.runt.heinsohn.com"/>
    <xsd:import schemaLocation="Solicitudes.xsd" namespace="http://solicitudes.general.runt.heinsohn.com"/>
    <xsd:import namespace="http://identificaciones.general.runt.heinsohn.com" schemaLocation="Identificadores.xsd"/>
    <xsd:complexType name="RegistrarCertificadoBlindajeDesblindajeInDTO">
        <xsd:sequence>
            <xsd:element name="entidad" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="numeroResolucion" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicionResolucion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="tipoAutorizacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>39</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="propietario" type="persona:PropietarioCertificadoBlindajeDTO" nillable="true"/>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nivelBlindaje" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>31</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarDesintegracionFisicaInDTO">
        <xsd:sequence>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="idClaseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroCertificado" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaCertificado" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="ciudadDesintegracion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>30</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="departamentoDesintegracion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>77</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capacidadCarga" type="xsd:double" nillable="true"/>
            <xsd:element name="capacidadPasajeros" type="xsd:double" nillable="true"/>
            <xsd:element name="licenciaTransito" type="xsd:string" nillable="true"/>
            <xsd:element name="idMarca" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>25</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modelo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>65</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLinea" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cilindraje" type="xsd:string" nillable="true"/>
            <xsd:element name="idTipoCarroceria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>40</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idColor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>1</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTipoCombustible" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>41</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroDeEjes" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroCertificadoSijin" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaCertificadoSijin" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="idTipoServicio" type="xsd:long" nillable="true"/>
            <xsd:element name="idModalidadServicio" type="xsd:long" nillable="true"/>
            <xsd:element name="configuracion" type="xsd:string" nillable="true"/>
            <xsd:element name="pesoBruto" type="xsd:double" nillable="true"/>
            <xsd:element name="ciudadCertificadoSIJIN" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>30</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroActaEntrega" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaEntregaActa" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaRecepcionAutomotor" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="motivoDesintegracion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarActaRemateAdjudicacionInDTO">
        <xsd:sequence>
            <xsd:element name="datosAdjudicador" type="persona:PersonaDTO" nillable="true"/>
            <xsd:element name="numeroActa" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaAdjudicacion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaEntrega" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="nuevoPropietario" type="persona:PersonaDTO" nillable="true"/>
            <xsd:element name="numeroLote" type="xsd:string" nillable="true"/>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="idMarca" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>25</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLinea" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modelo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>65</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idColor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>1</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cilindraje" type="xsd:string" nillable="true"/>
            <xsd:element name="idUnidadMedidaCilindraje" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>66</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoCarroceria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>40</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoCombustible" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>41</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capacidadCarga" type="xsd:double" nillable="true"/>
            <xsd:element name="idUnidadMedidaCarga" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>86</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capacidadPasajeros" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroPuertas" type="xsd:int" nillable="true"/>
            <xsd:element name="valorAdjudicado" type="xsd:double" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarCertificadoConversionGNVInDTO">
        <xsd:sequence>
            <xsd:element name="entidadCertificadorConversionGNV" type="identificador:IdentificacionPersonaDTO"
                 nillable="true"/>
            <xsd:element name="numeroCertificado" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="taller" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idMarca" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>25</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLinea" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idColor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>1</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroKit" type="xsd:string" nillable="true"/>
            <xsd:element name="modelo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>65</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoServicio" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>50</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroReporteInspeccion" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroChipInstalado" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroCalcomania" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SolicitarCambioDocumentoDatosPersonaInDTO">
        <xsd:sequence>
            <xsd:element name="idAutoridadTransito" type="xsd:string" nillable="true"/>
            <xsd:element name="solicitante" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="tipoCambio" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>CAMBIO DE DATOS,CAMBIO DE DOCUMENTO</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="primerNombrePersona" type="xsd:string" nillable="true"/>
            <xsd:element name="segundoNombrePersona" type="xsd:string" nillable="true"/>
            <xsd:element name="primerApellidoPersona" type="xsd:string" nillable="true"/>
            <xsd:element name="segundoApellidoPersona" type="xsd:string" nillable="true"/>
            <xsd:element name="celular" type="xsd:string" nillable="true"/>
            <xsd:element name="eMail" type="xsd:string" nillable="true"/>
            <xsd:element name="direcciones" type="persona:DireccionDTO" nillable="true" minOccurs="0"
                 maxOccurs="unbounded"/>
            <xsd:element name="tipoIdentificacionNueva" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>7</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroIdentificacionNueva" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicionNuevoDocumento" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaNacimiento" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="sexo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>75</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="grupoSanguineo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>64</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="trama" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarActaImportacionDetalleVehiculoInDTO">
        <xsd:sequence>
            <xsd:element name="informacionGeneralActaImportacion" type="InformacionGeneralActaImportacionDTO"
                 nillable="true"/>
            <xsd:element name="informacionVehiculoActaImportacion" type="InformacionVehiculoActaImportacionDTO"
                 nillable="true"/>
            <xsd:element name="informacionGPSActaImportacion" type="InformacionGPSActaImportacionDTO"
                 nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionGeneralActaImportacionDTO">
        <xsd:sequence>
            <xsd:element name="numeroActaManifiestoImportacionDeclaracionAduana" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaManifiestoImportacionDeclaracionAduana" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="importador" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="paisOrigen" type="xsd:string" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>33</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroLevante" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaLevante" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="tipoRegistro" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>95</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionVehiculoActaImportacionDTO">
        <xsd:sequence>
            <xsd:element name="tipoAutomotor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>V,C</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroFichaHomologacion" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroMotor" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroSerie" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroChasis" type="xsd:string" nillable="true"/>
            <xsd:element name="vin" type="xsd:string" nillable="true"/>
            <xsd:element name="idMarca" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>25</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLinea" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idMarcaMaquinaria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>125</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLineaMaquinaria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>126</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modelo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>65</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idClaseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroPuertas" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroPasajerosSentados" type="xsd:int" nillable="true"/>
            <xsd:element name="cilindraje" type="xsd:string" nillable="true"/>
            <xsd:element name="idTipoCarroceria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>40</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTipoCombustible" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>41</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroEjes" type="xsd:int" nillable="true"/>
            <xsd:element name="pesoBrutoVehicular" type="xsd:double" nillable="true"/>
            <xsd:element name="origenVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>32</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idColor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>1</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capacidadCarga" type="xsd:double" nillable="true"/>
            <xsd:element name="fechaDespacho" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="tipoMaquinaria" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>127</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cargaUtilMaxima" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroLlantas" type="xsd:int" nillable="true"/>
            <xsd:element name="rodaje" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>124</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoCabina" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>123</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="altoTotal" type="xsd:int" nillable="true"/>
            <xsd:element name="largoTotal" type="xsd:int" nillable="true"/>
            <xsd:element name="anchoTotal" type="xsd:int" nillable="true"/>
            <xsd:element name="subPartidaArancelaria" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionGPSActaImportacionDTO">
        <xsd:sequence>
            <xsd:element name="numeroIdGPS" type="xsd:string" nillable="true"/>
            <xsd:element name="empresaHabilitacion" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>131</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarMedidaCautelarInDTO">
        <xsd:sequence>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="tipoLimitacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>38</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoProcesoMedidaCautelar" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>35</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroDocumento" type="xsd:string" nillable="true"/>
            <xsd:element name="municipio" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
            <xsd:element name="identificadorEntidadJuridica" type="xsd:string" nillable="true"/>
            <xsd:element name="demandante" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="demandado" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="fechaExpedicion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="descripcion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LevantarMedidaCautelarInDTO">
        <xsd:sequence>
            <xsd:element name="numeroDocumentoMedidaCautelar" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoLimitacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>38</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaExpedicion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="identificadorEntidadJuridica" type="xsd:string" nillable="true"/>
            <xsd:element name="municipio" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
            <xsd:element name="tipoProcesoMedidaCautelar" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>35</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroDocumentoLevanteMedidaCautelar" type="xsd:string" nillable="true"/>
            <xsd:element name="descripcion" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CargarInformacionBatchInDTO">
        <xsd:sequence>
            <xsd:element name="archivoComprimido" type="xsd:boolean" nillable="true"/>
            <xsd:element name="contenidoArchivo" type="xsd:hexBinary" nillable="true"/>
            <xsd:element name="nombreArchivo" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoArchivo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>94</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarSustratosEntregadosInDTO">
        <xsd:sequence>
            <xsd:element name="proveedorSustratos" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="organismoTransito" type="persona:AutoridadTransitoDTO" nillable="true"/>
            <xsd:element name="fechaDespacho" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="tipoEspecieVenal" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>97</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroSolicitud" type="xsd:long" nillable="true"/>
            <xsd:element name="cantidad" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroInicialRango" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroFinalRango" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarRevisionTecnicoMecanicaInDTO">
        <xsd:sequence>
            <xsd:element name="personaCDA" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="numeroSolicitud" type="xsd:string" nillable="true"/>
            <xsd:element name="operarios" type="identificador:IdentificacionPersonaDTO" nillable="true"
                 minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="personaAutorizada" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="estadoRevision" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>78</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indicadorEnsenanza" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>SI,NO</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="emisionesB" type="xsd:int" nillable="true"/>
            <xsd:element name="frenosB" type="xsd:int" nillable="true"/>
            <xsd:element name="suspensionB" type="xsd:int" nillable="true"/>
            <xsd:element name="direccionB" type="xsd:int" nillable="true"/>
            <xsd:element name="lucesB" type="xsd:int" nillable="true"/>
            <xsd:element name="motorB" type="xsd:int" nillable="true"/>
            <xsd:element name="vidriosB" type="xsd:int" nillable="true"/>
            <xsd:element name="revisionInteriorB" type="xsd:int" nillable="true"/>
            <xsd:element name="revisionExteriorB" type="xsd:int" nillable="true"/>
            <xsd:element name="emisionesA" type="xsd:int" nillable="true"/>
            <xsd:element name="frenosA" type="xsd:int" nillable="true"/>
            <xsd:element name="suspensionA" type="xsd:int" nillable="true"/>
            <xsd:element name="direccionA" type="xsd:int" nillable="true"/>
            <xsd:element name="lucesA" type="xsd:int" nillable="true"/>
            <xsd:element name="motorA" type="xsd:int" nillable="true"/>
            <xsd:element name="vidriosA" type="xsd:int" nillable="true"/>
            <xsd:element name="revisionInteriorA" type="xsd:int" nillable="true"/>
            <xsd:element name="revisionExteriorA" type="xsd:int" nillable="true"/>
            <xsd:element name="fechaDeRevision" type="xsd:dateTime" nillable="true" minOccurs="0"/>
            <xsd:element name="fechaVencimeintoRevision" type="xsd:dateTime" nillable="true" minOccurs="0"/>
            <xsd:element name="tipoRevision" type="xsd:int" nillable="true"/>
            <xsd:element name="numeroInfraccion" type="xsd:int" nillable="true"/>
            <xsd:element name="firmaAutorizada" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CargarInformacionBatchOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO"/>
            <xsd:element name="idSolicitud" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarRevisionTecnicoMecanicaOutDTO">
        <xsd:sequence>
            <xsd:element name="status" type="identificador:StatusDTO" nillable="false"/>
            <xsd:element name="numeroCertificado" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicionCertificado" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaVencimientoCertificado" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroSolicitud" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionCertificadoRegistroInDTO">
        <xsd:sequence>
            <xsd:element name="numeroCertificadoRegistro" type="xsd:string" nillable="true"/>
            <xsd:element name="vehiculo" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="modelo" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>65</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="referencia" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>24</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idClaseVehiculo" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroEjes" type="xsd:int" nillable="true"/>
            <xsd:element name="origenVehiculo" type="xsd:string" nillable="true"/>
            <xsd:element name="pesoVacio" type="xsd:double" nillable="true"/>
            <xsd:element name="fichaTecnica" type="xsd:string" nillable="true"/>
            <xsd:element name="largo" type="xsd:double" nillable="true"/>
            <xsd:element name="alto" type="xsd:double" nillable="true"/>
            <xsd:element name="ancho" type="xsd:double" nillable="true"/>
            <xsd:element name="capacidad" type="xsd:int" nillable="true"/>
            <xsd:element name="actaImportacion" type="xsd:boolean" nillable="true"/>
            <xsd:element name="numeroAceptacion" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaAceptacion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="carrocero" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="numeroLevante" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaLevante" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="condicionMovilidad" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>99</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoCarroceria" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>40</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroLlantas" type="xsd:int" nillable="true"/>
            <xsd:element name="fechaCertificadoRemolque" type="xsd:dateTime" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformacionPolizaSOATInDTO">
        <xsd:sequence>
            <xsd:element name="propietarioPoliza" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
            <xsd:element name="direccionPropietario" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroPoliza" type="xsd:string" nillable="true"/>
            <xsd:element name="numeroPolizaReemplazo" type="xsd:string" nillable="true"/>
            <xsd:element name="estadoPoliza" type="xsd:string" nillable="true"/>
            <xsd:element name="codigoDepartamentoExpedicion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>77</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codigoCiudadExpedicion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>30</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaExpedicion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaInicioVigencia" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaFinVigencia" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="vehiculo" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
            <xsd:element name="codigoPaisVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>33</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modelo" type="xsd:int" nillable="true"/>
            <xsd:element name="idMarca" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>25</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idClaseVehiculo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTipoServicio" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>50</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cilindraje" type="xsd:int" nillable="true"/>
            <xsd:element name="capacidadToneladas" type="xsd:double" nillable="true"/>
            <xsd:element name="numeroPasajeros" type="xsd:int" nillable="true"/>
            <xsd:element name="codigoTarifa" type="xsd:int" nillable="true"/>
            <xsd:element name="valorPrimaSinFONSAT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorTransferenciaFONSAT" type="xsd:double" nillable="true"/>
            <xsd:element name="valorTransferenciaFPV" type="xsd:double" nillable="true"/>
            <xsd:element name="valorContribucionFONSAT" type="xsd:double" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarComparendoInDTO">
        <xsd:sequence>
            <xsd:element name="numeroComparendo" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaComparendo" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="horaComparendo" type="xsd:time" nillable="true"/>
            <xsd:element name="direccionInfraccion" type="xsd:string" nillable="true"/>
            <xsd:element name="idDepartamentoInfraccion" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>77</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idMunicipioInfraccion" type="xsd:long" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>30</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLocalidadInfraccion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>119</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nroPlacaInfraccion" type="xsd:string" nillable="true"/>
            <xsd:element name="matricula" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>112</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codigoInfraccion" type="xsd:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="idTipoServicio" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>50</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idClaseVehiculo" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>18</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idRadioAccion" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>71</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modalidadTransporte" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>113</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoTransportePasajeros" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>114</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="infractor" type="persona:InfractorComparendoDTO" nillable="true"/>
            <xsd:element name="nroLCInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="idTipoCategoriaLCInfractor" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>56</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codigoOTLCInfractor" type="xsd:long" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>112</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaVencimientoLCInfractor" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="direccionInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="edadInfractor" type="xsd:int" nillable="true"/>
            <xsd:element name="telefonoInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="emailInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="idMunicipioInfractor" type="xsd:long" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>30</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idDeptoInfractor" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>77</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idTipoInfractor" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>115</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nroLT" type="xsd:string" nillable="true"/>
            <xsd:element name="codigoOTLT" type="xsd:long" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>112</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="propietarios" type="persona:PropietarioComparendoDTO" nillable="true"
                 minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="empresaTransporte" type="persona:PersonaComparendoDTO" nillable="true"/>
            <xsd:element name="tarjetaOperacion" type="xsd:int" nillable="true"/>
            <xsd:element name="nroPlacaAgente" type="xsd:string" nillable="true"/>
            <xsd:element name="reportaInmovilizacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numeroPatio" type="xsd:int" nillable="true"/>
            <xsd:element name="direccionPatio" type="xsd:string" nillable="true"/>
            <xsd:element name="gruaNumero" type="xsd:long" nillable="true"/>
            <xsd:element name="placaGrua" type="xsd:string" nillable="true"/>
            <xsd:element name="consecutivoInmovilizacion" type="xsd:long" nillable="true"/>
            <xsd:element name="observacionesComparendo" type="xsd:string" nillable="true"/>
            <xsd:element name="reportaFuga" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="reportaAccidente" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="testigos" type="persona:PersonaComparendoDTO" nillable="true" minOccurs="0"
                 maxOccurs="unbounded"/>
            <xsd:element name="estadoComparendo" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>116</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valorComparendo" type="xsd:double" nillable="true"/>
            <xsd:element name="valorAdicionalComparendo" type="xsd:double" nillable="true"/>
            <xsd:element name="codigoOrganismoReporta" type="xsd:long" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>112</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rutaImagenComparendo" type="xsd:string" nillable="true"/>
            <xsd:element name="imagenComparendo" type="xsd:hexBinary" nillable="true"/>
            <xsd:element name="fotoMulta" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaNotificacion" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="comparendoPoliciaCarreteras" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valorInfraccion" type="xsd:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarNumeroFthAutomotorInDTO">
        <xsd:sequence>
            <xsd:element name="numeroPlaca" type="xsd:string" nillable="true"/>
            <xsd:element name="nroFth" type="xsd:string" nillable="true"/>
            <xsd:element name="nroFthCarroceria" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ModificarComparendoInDTO">
        <xsd:sequence>
            <xsd:element name="nroComparendo" type="xsd:string" nillable="true"/>
            <xsd:element name="idNombreTipoComparendo" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaComparendo" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="horaComparendo" type="xsd:string" nillable="true"/>
            <xsd:element name="minutoComparendo" type="xsd:int" nillable="true"/>
            <xsd:element name="idClaseVia" type="xsd:string" nillable="true"/>
            <xsd:element name="idTipoVia" type="xsd:long" nillable="true"/>
            <xsd:element name="idDepartamentoInfraccion" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>77</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idMunicipioInfraccion" type="xsd:long" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>30</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idLocalidadInfraccion" type="xsd:string" nillable="true"/>
            <xsd:element name="direccionInfraccion" type="xsd:string" nillable="true"/>
            <xsd:element name="nroPlacaInfraccion" type="xsd:string" nillable="true"/>
            <xsd:element name="idAutoridadTransitoPlaca" type="xsd:long" nillable="true"/>
            <xsd:element name="listaCodigoInfracciones" type="InfraccionComparendoDTO" nillable="true"
                 minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="idTipoServicio" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>50</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idClaseVehiculo" type="xsd:int" nillable="true"/>
            <xsd:element name="idRadioAccion" type="xsd:int" nillable="true"/>
            <xsd:element name="idModalidadServicio" type="xsd:int" nillable="true"/>
            <xsd:element name="idTipoTransporteEspecial" type="xsd:string" nillable="true"/>
            <xsd:element name="idTipoDocumentoInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="nombreTipoDocumentoInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="nroDocumentoInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="nroDocumentoInfractorFormateado" type="xsd:string" nillable="true"/>
            <xsd:element name="nombresInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="apellidosInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="nroLCInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="idTipoCategoriaLCInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="fechaExpedicionLCInfractor" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="fechaVencimientoLCInfractor" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="direccionInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="edadInfractor" type="xsd:int" nillable="true"/>
            <xsd:element name="telefonoInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="emailInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="idDeptoInfractor" type="xsd:int" nillable="true"/>
            <xsd:element name="idMunicipioInfractor" type="xsd:long" nillable="true"/>
            <xsd:element name="idTipoInfractor" type="xsd:long" nillable="true"/>
            <xsd:element name="idAutoridadPerteneceLT" type="xsd:long" nillable="true"/>
            <xsd:element name="nroLT" type="xsd:string" nillable="true"/>
            <xsd:element name="propietarios" type="persona:PropietarioComparendoDTO" nillable="true"
                 minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="idTipoDocumentoPropietario" type="xsd:string" nillable="true"/>
            <xsd:element name="nombreTipoDocumentoPropietario" type="xsd:string" nillable="true"/>
            <xsd:element name="nroDocuementoPropietario" type="xsd:string" nillable="true"/>
            <xsd:element name="idTipoDocumentoET" type="xsd:string" nillable="true"/>
            <xsd:element name="nombreTipoDocumentoET" type="xsd:string" nillable="true"/>
            <xsd:element name="nroIdentificacionET" type="xsd:string" nillable="true"/>
            <xsd:element name="nroIdentificacionFormateadoET" type="xsd:string" nillable="true"/>
            <xsd:element name="razonSocialET" type="xsd:string" nillable="true"/>
            <xsd:element name="nroTarjetaOperacion" type="xsd:string" nillable="true"/>
            <xsd:element name="placaAgenteTransito" type="xsd:string" nillable="true"/>
            <xsd:element name="reportaInmovilizacion" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nroPatio" type="xsd:string" nillable="true"/>
            <xsd:element name="direccionPatio" type="xsd:string" nillable="true"/>
            <xsd:element name="nroGrua" type="xsd:string" nillable="true"/>
            <xsd:element name="nroPlacaGrua" type="xsd:string" nillable="true"/>
            <xsd:element name="consecutivoInmovilizacion" type="xsd:decimal" nillable="true"/>
            <xsd:element name="observacionesComparendo" type="xsd:string" nillable="true"/>
            <xsd:element name="reportaFuga" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="reportaAccidente" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="testigos" type="persona:TestigoComparendoDTO" nillable="true" minOccurs="0"
                 maxOccurs="unbounded"/>
            <xsd:element name="estadoComparendo" type="xsd:int" nillable="true"/>
            <xsd:element name="valorComparendo" type="xsd:double" nillable="true"/>
            <xsd:element name="valorAdicionalComparendo" type="xsd:double" nillable="true"/>
            <xsd:element name="idOrganismoReporta" type="xsd:long" nillable="true"/>
            <xsd:element name="imagenComparendo" type="xsd:hexBinary" nillable="true"/>
            <xsd:element name="idComparendo" type="xsd:long" nillable="true"/>
            <xsd:element name="numeroModificaciones" type="xsd:int" nillable="true"/>
            <xsd:element name="idRangoComparendo" type="xsd:long" nillable="true"/>
            <xsd:element name="idRangoEspecieVenal" type="xsd:long" nillable="true"/>
            <xsd:element name="nombreTipoComparendo" type="xsd:string" nillable="true"/>
            <xsd:element name="estadoDocumento" type="xsd:string" nillable="true"/>
            <xsd:element name="nroComparendoOriginal" type="xsd:string" nillable="true"/>
            <xsd:element name="idAutoExpLC" type="xsd:long" nillable="true"/>
            <xsd:element name="comparendoPoliciaCarreteras" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fotoMulta" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>S,N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaNotificacionFM" type="xsd:dateTime" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InfraccionComparendoDTO">
        <xsd:sequence>
            <xsd:element name="valorInfraccion" type="xsd:double" nillable="true"/>
            <xsd:element name="idInfraccionComparendo" type="xsd:long" nillable="true"/>
            <xsd:element name="codigoInfraccionTransito" type="xsd:long" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarNovedadComparendoResolucionInDTO">
        <xsd:sequence>
            <xsd:element name="tipoDocumento" type="xsd:int" nillable="true"/>
            <xsd:element name="nroDocumento" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoNovedad" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>121</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="estadoDocumento" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegistrarResolucionInDTO">
        <xsd:sequence>
            <xsd:element name="resolucioResnumant" type="xsd:string" nillable="true"/>
            <xsd:element name="resolucioNroresolu" type="xsd:string" nillable="true"/>
            <xsd:element name="resolucioTiporesolId" type="xsd:int" nillable="true"/>
            <xsd:element name="resolucioFechresol" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="resolucioFechsuspe" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="resolucioEstaresolNombre" type="xsd:string" nillable="true"/>
            <xsd:element name="resolcompFotomulta" type="xsd:string" nillable="true"/>
            <xsd:element name="resolcompPolicarre" type="xsd:string" nillable="true"/>
            <xsd:element name="persinvolTelefono" type="xsd:string" nillable="true"/>
            <xsd:element name="persinvolMunicpioIdmunicip" type="xsd:string" nillable="true"/>
            <xsd:element name="resolucioAutotransIdauttra" type="xsd:long" nillable="true"/>
            <xsd:element name="codigoTipoResolucion" type="xsd:string" nillable="true"/>
            <xsd:element name="tipoIdInfractor" type="xsd:string" nillable="true"/>
            <xsd:element name="instanciaTransaccional" type="xsd:string" nillable="true"/>
            <xsd:element name="seleccion" type="xsd:boolean" nillable="true"/>
            <xsd:element name="infractor" type="persona:InfractorComparendoDTO" nillable="true"/>
            <xsd:element name="paisOrigen" type="xsd:int" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>33</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="infoInconsistente" type="xsd:string" nillable="true"/>
            <xsd:element name="sexo" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>75</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idRegistroPersonaInvolucrada" type="xsd:string" nillable="true"/>
            <xsd:element name="resolcompValorreso" type="xsd:int" nillable="true"/>
            <xsd:element name="resolcompValoradi" type="xsd:int" nillable="true"/>
            <xsd:element name="comparendos" type="ComparendoResolucionDTO" nillable="true" minOccurs="0"
                 maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ComparendoResolucionDTO">
        <xsd:sequence>
            <xsd:element name="resolcompFechcompa" type="xsd:dateTime" nillable="true"/>
            <xsd:element name="idComparendoResolucion" type="xsd:string" nillable="true"/>
            <xsd:element name="idInfractor" type="persona:InfractorComparendoDTO" nillable="true"/>
            <xsd:element name="instanciaTransaccional" type="xsd:string" nillable="true"/>
            <xsd:element name="resolcompValoradic" type="xsd:int" nillable="true"/>
            <xsd:element name="resolcompValorreso" type="xsd:int" nillable="true"/>
            <xsd:element name="nroComparendo" type="xsd:string" nillable="true"/>
            <xsd:element name="codigoInfraccionTransito" type="xsd:long" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
