web/WEB-INF/wsdl/SID0003003/P889979426/SID0003003/N1372253902/OwsmImport.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://rna.tramite.general.runt.heinsohn.com" xmlns:tramite="http://tramite.general.runt.heinsohn.com" xmlns:persona="http://personas.general.runt.heinsohn.com" xmlns:identificador="http://identificaciones.general.runt.heinsohn.com" targetNamespace="http://rna.tramite.general.runt.heinsohn.com" elementFormDefault="qualified">
    <xsd:import namespace="http://tramite.general.runt.heinsohn.com" schemaLocation="SID0003003/P42389632/OwsmImport.xsd"/>
    <xsd:import namespace="http://personas.general.runt.heinsohn.com" schemaLocation="SID0003003/N2128363059/OwsmImport.xsd"/>
    <xsd:import namespace="http://identificaciones.general.runt.heinsohn.com" schemaLocation="SID0003003/P724965611/OwsmImport.xsd"/>
    <xsd:complexType name="MatriculaReposicionDTO">
        <xsd:sequence>
            <xsd:element name="porcentajeReposicion" type="xsd:double" nillable="true"/>
            <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TramiteTraspasoDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="vendedoresTraspaso" type="persona:VendedorDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="idTipoTraspaso" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>52</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="compradoresTraspaso" type="persona:CompradorDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteRematriculaDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="entidadQueReportaActa" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>91</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroActa" type="xsd:string" nillable="true"/>
                    <xsd:element name="municipioActa" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
                    <xsd:element name="fechaActa" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="identificacionPersonaActa" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                    <xsd:element name="nombrePersonaActa" type="xsd:string" nillable="true"/>
                    <xsd:element name="municipioEntregaVehiculoActa" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
                    <xsd:element name="fechaEntregaActa" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="numeroPlacaActa" type="xsd:string" nillable="true"/>
                    <xsd:element name="tipoEntregaActa" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>92</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estadoEntregaActa" type="xsd:string" nillable="true"/>
                    <xsd:element name="cambioColor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>S,N</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nuevoColor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>1</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteTrasladoDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="autoridadTransito" type="persona:AutoridadTransitoDTO" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteCertificadoTradicionDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="observacionesCertificadoTradicion" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteDuplicadoPlacasDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="idMotivoDuplicado" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>27</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cantidadPlacas" type="xsd:int" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteCambioServicioDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="tipoServicio" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>50</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteCancelacionMatriculaDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="motivoCancelacion" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>29</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroMotor" type="xsd:string" nillable="true"/>
                    <xsd:element name="fechaHecho" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="enteJudicial" type="xsd:string" nillable="true" minOccurs="0"/>
                    <xsd:element name="numeroOficio" type="xsd:string" nillable="true" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteLicenciaTransitoDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="numeroDeclaracionExportacion" type="xsd:string" nillable="true"/>
                    <xsd:element name="motivoCancelacionLT" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>57</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroCertificadoChatarrizacion" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteCambioColorDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="idColor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>1</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramitePreasignacionDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="tipoServicio" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>50</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idOrigenRegistroVehiculo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>32</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramitePreasignacionManualDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="tipoServicio" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>50</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idOrigenRegistroVehiculo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>32</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="placaAsignada" type="xsd:string" nillable="true" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteCambioPlacaDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="tipoPlaca" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>46</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteRegrabacionVehiculoDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="tipoRegrabacion" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>48</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroSerie" type="xsd:string" nillable="true"/>
                    <xsd:element name="numeroChasis" type="xsd:string" nillable="true"/>
                    <xsd:element name="numeroMotor" type="xsd:string" nillable="true"/>
                    <xsd:element name="motivoRegrabacion" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>28</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroRevisionTecnicoMecanica" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteTransformacionDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="idTipoTransformacion" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>51</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="modeloNuevo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>65</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroFichaTecnica" type="xsd:string" nillable="true"/>
                    <xsd:element name="numeroMotor" type="xsd:string" nillable="true"/>
                    <xsd:element name="tipoRepotenciacion" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>49</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreTipoCombustible" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>41</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" type="xsd:string" nillable="true"/>
                    <xsd:element name="idTipoCarroceria" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>40</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="anotacionesTransformacion" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>93</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaExpedicionFactura" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="numeroFactura" type="xsd:string" nillable="true"/>
                    <xsd:element name="realizaCambioMotor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>S,N</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoIngresoMotor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>37</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroDeclaracionImportacion" type="xsd:string" nillable="true"/>
                    <xsd:element name="vendedor" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteCambioMotorDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="numeroMotor" type="xsd:string" nillable="true"/>
                    <xsd:element name="numeroDeclaracionImportacion" type="xsd:string" nillable="true"/>
                    <xsd:element name="tipoIngresoMotor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>37</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroFacturaCompraMotor" type="xsd:string" nillable="true"/>
                    <xsd:element name="fechaExpedicionFacturaCompraMotor" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="vendedor" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteCambioBlindajeDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="nivelBlindaje" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>31</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="claseResolucionBlindaje" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>39</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteRadicacionCuentaDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="empresa" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                    <xsd:element name="autoridadTransito" type="persona:AutoridadTransitoDTO" nillable="true"/>
                    <xsd:element name="autoridadTransitoOrigen" type="persona:AutoridadTransitoDTO" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteCirculacionRestringidaDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
                    <xsd:element name="procedenciaVehiculo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>34</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaVencimientoPermiso" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="destino" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
                    <xsd:element name="destinatario" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                    <xsd:element name="origen" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
                    <xsd:element name="tipoPermiso" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>45</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigoMarca" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>25</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="modelo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>65</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idColor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>1</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lineaAutomotor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>24</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zonaRecorrido" type="xsd:string" nillable="true"/>
                    <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>18</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteMatriculaInicialDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="empresa" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                    <xsd:element name="tipoPlaca" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>46</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoMatricula" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>43</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaInicioVigencia" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="fechaFinVigencia" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="fichaTecnicaHomologacion" type="xsd:string" nillable="true"/>
                    <xsd:element name="numeroDeclaracionImportacion" type="xsd:string" nillable="true"/>
                    <xsd:element name="valorFacturaCompraVenta" type="xsd:string" nillable="true"/>
                    <xsd:element name="aseguradora" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                    <xsd:element name="numeroPuertas" type="xsd:int" nillable="true"/>
                    <xsd:element name="valorPoliza" type="xsd:double" nillable="true"/>
                    <xsd:element name="radioAccion" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>71</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaFacturaCompraVenta" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="numeroFacturaCompraVenta" type="xsd:string" nillable="true"/>
                    <xsd:element name="fechaPoliza" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="numeroPoliza" type="xsd:string" nillable="true"/>
                    <xsd:element name="capacidadToneladas" type="xsd:decimal" nillable="true"/>
                    <xsd:element name="idModalidadServicio" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>26</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoRegistroVehiculo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>53</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idColor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>1</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fichaTecnicaHomologacionCarroceria" type="xsd:string" nillable="true"/>
                    <xsd:element name="empresaVende" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                    <xsd:element name="observacionAutorizacionOT" type="xsd:string" nillable="true"/>
                    <xsd:element name="vehiculoReposicion" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>S,N</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="antiguoClasico" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>17</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoServicio" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>50</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vehiculoDonado" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>S,N</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="municipioVendedor" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
                    <xsd:element name="municipioAfiliadora" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
                    <xsd:element name="lineaAutomotor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>24</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigoMarca" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>25</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="modelo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>65</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="propietariosMatriculaInicial" type="persona:PropietarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="matriculaReposicion" type="MatriculaReposicionDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="idClaseVehiculo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>18</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteHomologacionDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="idModalidadServicio" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>26</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="claseVehiculo" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>18</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="radioAccion" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>71</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="planoEscala" type="xsd:hexBinary" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteImportacionTemporalDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="paisOrigenAutomotor" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>33</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="automotor" type="identificador:IdentificacionAutomotorDTO" nillable="true"/>
                    <xsd:element name="numeroDeclaracionImportacion" type="xsd:string" nillable="true"/>
                    <xsd:element name="fechaVencimientoImportacion" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="fechaDeclaracionImportacion" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="propietariosVehiculoImportacionTemporal" type="persona:PropietarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="numeroCuota" type="xsd:int" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteInscripcionPrendaDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="datosPersonaAcreedor" type="persona:DatosNuevoAcreedorPrendarioDTO" nillable="true"/>
                    <xsd:element name="gradoAlerta" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>21</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoAlerta" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>82</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteModificacionAcreedorPrendarioDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="datosAntiguoAcreedor" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                    <xsd:element name="datosNuevoAcreedor" type="persona:DatosNuevoAcreedorPrendarioDTO" nillable="true"/>
                    <xsd:element name="gradoAlerta" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>21</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteModificacionAcreedorPrendarioAcreedorDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="datosAntiguoAcreedor" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                    <xsd:element name="datosNuevoAcreedor" type="persona:DatosNuevoAcreedorPrendarioDTO" nillable="true"/>
                    <xsd:element name="gradoAlerta" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>21</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteLevantamientoPrendaDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="datosAcreedorPrendario" type="identificador:IdentificacionPersonaDTO" nillable="true"/>
                    <xsd:element name="tipoAlerta" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>82</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteTraspasoIndeterminadoDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="vendedoresTraspaso" type="persona:VendedorDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="tipoDocumentoTraspaso" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>52</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="destinatarioTraspaso" type="persona:CompradorDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="nombreJuzgado" type="xsd:string" nillable="true"/>
                    <xsd:element name="fechaTraspaso" type="xsd:dateTime" nillable="true"/>
                    <xsd:element name="municipioJuzgado" type="identificador:IdentificadorGeografiaDTO" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TramiteCambioPlacasDuplicadasDTO">
        <xsd:complexContent>
            <xsd:extension base="tramite:TramiteBasicoDTO">
                <xsd:sequence>
                    <xsd:element name="nuevoNumeroPlaca" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>