web/WEB-INF/wsdl/www2.simit.org.co_8080/WSSimitCurso/WS_Simit_Curso.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://simit.curso.gov.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://simit.curso.gov.co/" name="WS_Simit_CursoService">
<types>
<xsd:schema>
<xsd:import namespace="http://simit.curso.gov.co/" schemaLocation="http://www2.simit.org.co:8080/WSSimitCurso/WS_Simit_Curso?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="WS_Simit_ComparendosDescuentos">
<part name="parameters" element="tns:WS_Simit_ComparendosDescuentos"></part>
</message>
<message name="WS_Simit_ComparendosDescuentosResponse">
<part name="parameters" element="tns:WS_Simit_ComparendosDescuentosResponse"></part>
</message>
<message name="WS_Simit_PagoCia">
<part name="parameters" element="tns:WS_Simit_PagoCia"></part>
</message>
<message name="WS_Simit_PagoCiaResponse">
<part name="parameters" element="tns:WS_Simit_PagoCiaResponse"></part>
</message>
<message name="WS_Simit_CursoCia">
<part name="parameters" element="tns:WS_Simit_CursoCia"></part>
</message>
<message name="WS_Simit_CursoCiaResponse">
<part name="parameters" element="tns:WS_Simit_CursoCiaResponse"></part>
</message>
<portType name="WS_Simit_Curso">
<operation name="WS_Simit_ComparendosDescuentos">
<input message="tns:WS_Simit_ComparendosDescuentos"></input>
<output message="tns:WS_Simit_ComparendosDescuentosResponse"></output>
</operation>
<operation name="WS_Simit_PagoCia">
<input message="tns:WS_Simit_PagoCia"></input>
<output message="tns:WS_Simit_PagoCiaResponse"></output>
</operation>
<operation name="WS_Simit_CursoCia">
<input message="tns:WS_Simit_CursoCia"></input>
<output message="tns:WS_Simit_CursoCiaResponse"></output>
</operation>
</portType>
<binding name="WS_Simit_CursoPortBinding" type="tns:WS_Simit_Curso">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="WS_Simit_ComparendosDescuentos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="WS_Simit_PagoCia">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="WS_Simit_CursoCia">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WS_Simit_CursoService">
<port name="WS_Simit_CursoPort" binding="tns:WS_Simit_CursoPortBinding">
<soap:address location="http://www2.simit.org.co:8080/WSSimitCurso/WS_Simit_Curso"></soap:address>
</port>
</service>
</definitions>