web/WEB-INF/wsdl/10.10.1.9/gateway/services/SID0003009.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://client.registroinformacion.runt.heinsohn.com/" name="RegistrarInformacionService" targetNamespace="http://client.registroinformacion.runt.heinsohn.com/">
    <types>
        <xsd:schema xmlns:Q3="http://consultas.general.runt.heinsohn.com" xmlns:Q2="http://registroinformacion.general.runt.heinsohn.com" xmlns:Q1="http://identificaciones.general.runt.heinsohn.com" targetNamespace="http://client.registroinformacion.runt.heinsohn.com/">
            <xsd:import schemaLocation="SID0003009/N68354002/OwsmImport.xsd" namespace="http://consultas.general.runt.heinsohn.com"/>
            <xsd:import schemaLocation="SID0003009/P923779962/OwsmImport.xsd" namespace="http://registroinformacion.general.runt.heinsohn.com"/>
            <xsd:import schemaLocation="SID0003009/P724965611/OwsmImport.xsd" namespace="http://identificaciones.general.runt.heinsohn.com"/>
            <xsd:element name="registrarCertificadoBlindajeDesblindaje">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:RegistrarCertificadoBlindajeDesblindajeInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarCertificadoBlindajeDesblindajeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarActaRemateAdjudicacion">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:RegistrarActaRemateAdjudicacionInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarActaRemateAdjudicacionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarCertificadoConversionGNV">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:RegistrarCertificadoConversionGNVInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarCertificadoConversionGNVResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarDesintegracionFisica">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:RegistrarDesintegracionFisicaInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarDesintegracionFisicaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitarCambioDocumentoDatosPersona">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:SolicitarCambioDocumentoDatosPersonaInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitarCambioDocumentoDatosPersonaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="verificarEstadoWS">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="verificarEstadoWSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarActaImportacionDetalleVehiculo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:RegistrarActaImportacionDetalleVehiculoInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarActaImportacionDetalleVehiculoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarMedidaCautelar">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:RegistrarMedidaCautelarInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarMedidaCautelarResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="levantarMedidaCautelar">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:LevantarMedidaCautelarInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="levantarMedidaCautelarResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cargarInformacionBatch">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:CargarInformacionBatchInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cargarInformacionBatchResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="resultado" type="Q2:CargarInformacionBatchOutDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarSustratosEntregados">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:RegistrarSustratosEntregadosInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarSustratosEntregadosResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarRevisionTecnicoMecanica">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO"/>
                        <xsd:element name="in" type="Q2:RegistrarRevisionTecnicoMecanicaInDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarRevisionTecnicoMecanicaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="Q2:RegistrarRevisionTecnicoMecanicaOutDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarCertificadoRegistroRNRYS">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="Q1:CommonHeaderDTO" minOccurs="0"/>
                        <xsd:element name="in" type="Q2:InformacionCertificadoRegistroInDTO" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarCertificadoRegistroRNRYSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="Q1:StatusDTO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="registrarCertificadoBlindajeDesblindajeRequest">
        <part name="parameters" element="tns:registrarCertificadoBlindajeDesblindaje"/>
    </message>
    <message name="registrarCertificadoBlindajeDesblindajeResponse">
        <part name="parameters" element="tns:registrarCertificadoBlindajeDesblindajeResponse"/>
    </message>
    <message name="registrarActaRemateAdjudicacionRequest">
        <part name="parameters" element="tns:registrarActaRemateAdjudicacion"/>
    </message>
    <message name="registrarActaRemateAdjudicacionResponse">
        <part name="parameters" element="tns:registrarActaRemateAdjudicacionResponse"/>
    </message>
    <message name="registrarCertificadoConversionGNVRequest">
        <part name="parameters" element="tns:registrarCertificadoConversionGNV"/>
    </message>
    <message name="registrarCertificadoConversionGNVResponse">
        <part name="parameters" element="tns:registrarCertificadoConversionGNVResponse"/>
    </message>
    <message name="registrarDesintegracionFisicaRequest">
        <part name="parameters" element="tns:registrarDesintegracionFisica"/>
    </message>
    <message name="registrarDesintegracionFisicaResponse">
        <part name="parameters" element="tns:registrarDesintegracionFisicaResponse"/>
    </message>
    <message name="solicitarCambioDocumentoDatosPersonaRequest">
        <part name="parameters" element="tns:solicitarCambioDocumentoDatosPersona"/>
    </message>
    <message name="solicitarCambioDocumentoDatosPersonaResponse">
        <part name="parameters" element="tns:solicitarCambioDocumentoDatosPersonaResponse"/>
    </message>
    <message name="verificarEstadoWSRequest">
        <part name="parameters" element="tns:verificarEstadoWS"/>
    </message>
    <message name="verificarEstadoWSResponse">
        <part name="parameters" element="tns:verificarEstadoWSResponse"/>
    </message>
    <message name="registrarActaImportacionDetalleVehiculoRequest">
        <part name="parameters" element="tns:registrarActaImportacionDetalleVehiculo"/>
    </message>
    <message name="registrarActaImportacionDetalleVehiculoResponse">
        <part name="parameters" element="tns:registrarActaImportacionDetalleVehiculoResponse"/>
    </message>
    <message name="registrarMedidaCautelarRequest">
        <part name="parameters" element="tns:registrarMedidaCautelar"/>
    </message>
    <message name="registrarMedidaCautelarResponse">
        <part name="parameters" element="tns:registrarMedidaCautelarResponse"/>
    </message>
    <message name="levantarMedidaCautelarRequest">
        <part name="parameters" element="tns:levantarMedidaCautelar"/>
    </message>
    <message name="levantarMedidaCautelarResponse">
        <part name="parameters" element="tns:levantarMedidaCautelarResponse"/>
    </message>
    <message name="cargarInformacionBatchRequest">
        <part name="parameters" element="tns:cargarInformacionBatch"/>
    </message>
    <message name="cargarInformacionBatchResponse">
        <part name="parameters" element="tns:cargarInformacionBatchResponse"/>
    </message>
    <message name="registrarSustratosEntregadosRequest">
        <part name="parameters" element="tns:registrarSustratosEntregados"/>
    </message>
    <message name="registrarSustratosEntregadosResponse">
        <part name="parameters" element="tns:registrarSustratosEntregadosResponse"/>
    </message>
    <message name="registrarRevisionTecnicoMecanicaRequest">
        <part name="parameters" element="tns:registrarRevisionTecnicoMecanica"/>
    </message>
    <message name="registrarRevisionTecnicoMecanicaResponse">
        <part name="parameters" element="tns:registrarRevisionTecnicoMecanicaResponse"/>
    </message>
    <message name="registrarCertificadoRegistroRNRYSRequest">
        <part name="parameters" element="tns:registrarCertificadoRegistroRNRYS"/>
    </message>
    <message name="registrarCertificadoRegistroRNRYSResponse">
        <part name="parameters" element="tns:registrarCertificadoRegistroRNRYSResponse"/>
    </message>
    <portType name="RegistrarInformacionService">
        <operation name="registrarCertificadoBlindajeDesblindaje">
            <input message="tns:registrarCertificadoBlindajeDesblindajeRequest"/>
            <output message="tns:registrarCertificadoBlindajeDesblindajeResponse"/>
        </operation>
        <operation name="registrarActaRemateAdjudicacion">
            <input message="tns:registrarActaRemateAdjudicacionRequest"/>
            <output message="tns:registrarActaRemateAdjudicacionResponse"/>
        </operation>
        <operation name="registrarCertificadoConversionGNV">
            <input message="tns:registrarCertificadoConversionGNVRequest"/>
            <output message="tns:registrarCertificadoConversionGNVResponse"/>
        </operation>
        <operation name="registrarDesintegracionFisica">
            <input message="tns:registrarDesintegracionFisicaRequest"/>
            <output message="tns:registrarDesintegracionFisicaResponse"/>
        </operation>
        <operation name="solicitarCambioDocumentoDatosPersona">
            <input message="tns:solicitarCambioDocumentoDatosPersonaRequest"/>
            <output message="tns:solicitarCambioDocumentoDatosPersonaResponse"/>
        </operation>
        <operation name="verificarEstadoWS">
            <input message="tns:verificarEstadoWSRequest"/>
            <output message="tns:verificarEstadoWSResponse"/>
        </operation>
        <operation name="registrarActaImportacionDetalleVehiculo">
            <input message="tns:registrarActaImportacionDetalleVehiculoRequest"/>
            <output message="tns:registrarActaImportacionDetalleVehiculoResponse"/>
        </operation>
        <operation name="registrarMedidaCautelar">
            <input message="tns:registrarMedidaCautelarRequest"/>
            <output message="tns:registrarMedidaCautelarResponse"/>
        </operation>
        <operation name="levantarMedidaCautelar">
            <input message="tns:levantarMedidaCautelarRequest"/>
            <output message="tns:levantarMedidaCautelarResponse"/>
        </operation>
        <operation name="cargarInformacionBatch">
            <input message="tns:cargarInformacionBatchRequest"/>
            <output message="tns:cargarInformacionBatchResponse"/>
        </operation>
        <operation name="registrarSustratosEntregados">
            <input message="tns:registrarSustratosEntregadosRequest"/>
            <output message="tns:registrarSustratosEntregadosResponse"/>
        </operation>
        <operation name="registrarRevisionTecnicoMecanica">
            <input message="tns:registrarRevisionTecnicoMecanicaRequest"/>
            <output message="tns:registrarRevisionTecnicoMecanicaResponse"/>
        </operation>
        <operation name="registrarCertificadoRegistroRNRYS">
            <input message="tns:registrarCertificadoRegistroRNRYSRequest"/>
            <output message="tns:registrarCertificadoRegistroRNRYSResponse"/>
        </operation>
    </portType>
    <binding name="RegistrarInformacionServiceSOAP" type="tns:RegistrarInformacionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="registrarCertificadoBlindajeDesblindaje">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//registrarCertificadoBlindajeDesblindaje"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarActaRemateAdjudicacion">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//registrarActaRemateAdjudicacion"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarCertificadoConversionGNV">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//registrarCertificadoConversionGNV"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarDesintegracionFisica">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//registrarDesintegracionFisica"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="solicitarCambioDocumentoDatosPersona">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//solicitarCambioDocumentoDatosPersona"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="verificarEstadoWS">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//verificarEstadoWS"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarActaImportacionDetalleVehiculo">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//registrarActaImportacionDetalleVehiculo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarMedidaCautelar">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//registrarMedidaCautelar"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="levantarMedidaCautelar">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//levantarMedidaCautelar"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cargarInformacionBatch">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//cargarInformacionBatch"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarSustratosEntregados">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//registrarSustratosEntregados"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarRevisionTecnicoMecanica">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//registrarRevisionTecnicoMecanica"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registrarCertificadoRegistroRNRYS">
            <soap:operation soapAction="http://client.registroinformacion.runt.heinsohn.com//registrarCertificadoRegistroRNRYS"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="RegistrarInformacionService">
        <port name="RegistrarInformacionServiceSOAP" binding="tns:RegistrarInformacionServiceSOAP">
            <soap:address location="http://wsm.runt.com.co:80/gateway/services/SID0003009"/>
        </port>
    </service>
</definitions>